name: Maven Package

on: 
  workflow_dispatch:
    # Trigger this workflow with the manual dispatch option.
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: Build with Maven
        run: |
          mvn -B package --file pom.xml
          mkdir -p artifacts
          cp target/*.jar artifacts/
          cd artifacts && ls

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: github-actions-artifact
          path: artifacts/
